/* arima-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    /* font-weight: 700; */
    src: url('./fonts/Arima/Arima-VariableFont_wght.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    box-sizing: border-box;
}

.page-header-wrapper {
    background-color: #4EA487;
}

.page-header {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    padding-left: 146px;
}

.header-nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 72px;
    margin-left: 102px;
}

.header-nav>a {
    font-family: Arima;
    font-weight: 700;
    font-size: 24px;
    color: #F8F5EB;
    text-decoration: none;
}

.header-logo {
    margin: 25px 0px 30px 0px;
}

.header-logo>img {
    width: 72px;
}

.page-footer-wrapper {
    background-color: #4EA487;

}

.page-footer {
    /* max-width: 1440px; */
    display: flex;
    /* justify-direction: row; */
    justify-content: space-between;
}

.footer-left {
    display: flex;
    align-items: center;
    margin: 60px 500px 60px 0;
    /* padding-left: 120px; */
    margin-left: 120px;
}

.footer-left-links {
    font-family: Palanquin;
    display: flex;
    gap: 72px;
    padding-left: 5px;
    flex-shrink: 0;
    /* Ohne diesen Befehl habe ich immer einen Zeilenumbruch... Unkalr warum.. */
}

.footer-left-links>a {
    color: #f8f5eb;
    text-decoration: none;
}


.footer-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 120px;
}

.footer-right>img {
    height: 32px;
}

.page02-main-seciton-headline>h1 {
    font-family: Palanquin;
    font-size: 40px;
    font-weight: 600;
    color: #4EA487;
}

.page02-main-seciton-headline>h2 {
    font-family: Arima;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F1C953;
}

.page02-main-seciton-headline>p {
    font-family: Palanquin;
    font-size: 28px;
    font-weight: 400;
    color: #54370D;
    padding-top: 8px;
    margin-bottom: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.page02-main-seciton-headline {
    width: 900px;

}

.page02-main-section-author img {
    height: 120px;

    border-radius: 30px;

}

.page02-main-section-author {

    background-color: #4EA48733;

    width: 270px;
    height: 390px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    border-radius: 30px;


}

#name {
    font-size: 18px;
    font-family: Arima;
    font-weight: 700;
    padding-top: 16px;
}

#author {
    font-size: 18px;
    font-family: Arima;
    font-weight: 400;
    margin-bottom: 12px;

}

.page02-main-section-author>p {
    font-family: Palanquin;
    color: #54370D;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.page02-main-section-wrapper {
    display: flex;
    flex-direction: column;
}

.page02-complete-main-section {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page02-main-section-author-wrapper {
    width: 1200px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.page02-read-icon-wrapper,
.page02-shared-icon-wrapper,
.page02-articel-date-icon-wrapper,
.page02-read-time-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 19px;
    gap: 6px;
}


.page02-read-share-wrapper {
    display: flex;
    gap: 32px;
    flex-direction: row;
    width: 900px;

}

.page02-read-share-wrapper p {
    font-family: Palanquin;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
}

.page02-main-text {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;
}

.page02-main-text {
    padding-top: 48px;
}

.page02-main-text p,
li,
ul {
    color: #3D3D3D;
    font-family: Palanquin;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
}


.page02-main-video {
    padding: 88px 0px 88px 0px;

}

.page02-main-text-list-introduction {
    padding-top: 32px;
}

.page02-main-text-list {
    max-width: 1000px;
    margin-bottom: 32px;

}

#lamp {
    padding-right: 10px;
}

#tips {
    color: #F1C953;
    font-family: Palanquin;
    font-weight: 700;
    font-size: 28px;
}

.page02-pro-tips-icon {
    background-color: #4EA487;
    width: 195px;
    height: 66px;
    margin-top: 85px;
    margin-bottom: -25px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: rotate(-13deg)
}

.page02-pro-tips-infobox {
    padding: 26px 16px 24px 16px;
    width: 1038px;
    margin-left: 87px;
    margin-bottom: 88px;
    background-color: #4EA48733;
}

.page02-ending-section-wrapper {
    width: 1130px;

}

.page02-share-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page02-follow-me {
    width: 493px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page02-follow-me > p {
    font-family: Arima;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 24px;
    color: #54370D;

    display: flex;
    text-align: center;
}

#page02-button {

    width: 158px;
    height: 48px;

    font-family: Arima;
    font-size: 24px;
    color: #F1C953;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #4EA487;
    border-radius: 40px;
    border: none;
    margin-top: 48px;

}

#page02-button>img {
    width: 32px;
    height: 32px;

}

#arrow {
    margin: 38px 375px 0px 0px;
    position: absolute;
}

.page02-share-button {
    display: flex;
    justify-content: center;
    gap: 53px;


}


.main-content-carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-author-articel-carousel {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.carousel-articel-author-wrapper {
    display: flex;
}

.carousel-headline-info-wrapper {
    display: flex;
    flex-direction: column;
}

.carousel-ocean-soul-headline {
    color: #4EA487;
    font-family: 'Palanquin';
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    height: 48px;
    width: 608px;
}

.carousel-breathtaking-beaches-headline {
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F1C953;
    height: 154px;
    width: 902px;
    padding-top: 8px;
}

.carousel-beaches-description {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    height: 114px;
    width: 902px;
    padding-top: 8px;
}

.carousel-read-share-wrapper {
    display: flex;
    padding-top: 40px;
    gap: 32px;
}

.carousel-articel-date-icon-wrapper {
    display: flex;
    align-items: center;
    height: 19px;
    width: 133px;
}

.carousel-articel-date-icon-wrapper>img {
    width: 16px;
    height: 18px;
}

.carousel-articel-date {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    padding-left: 6px;
}

.carousel-read-time-icon-wrapper {
    display: flex;
    align-items: center;
    height: 19px;
}

.carousel-read-time-text {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    height: 19px;
    padding-left: 6px;
}

.carousel-read-icon-wrapper {
    display: flex;
    align-items: center;
    height: 19px;
}

.carousel-read-amount-text {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    padding-left: 6px;
}

.carousel-shared-icon-wrapper {
    display: flex;
    align-items: center;
}

.carousel-shared-amount-text {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    padding-left: 6px;
}

.author-info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 27px;
    height: 389px;
    width: 272px;
    background-color: #4EA48733;
    padding: 16px;
    border-radius: 30px;
}

.author-image-carousel {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.Tamara-Walker-headline-carousel {
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #54370D;
    padding-top: 16px;
}

.author-headline-carousel {
    font-family: Arima;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #54370D;
    margin-top: 0px;
    padding-top: 0px;
    margin-block-start: 0px;
    /* regular wird nicht genommen oder in figma nicht richtg dargestellt; */
}

.author-info-text-carousel {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    padding-top: 12px;
}


.design-h2-graph {
    font-family: Palanquin;
    font-size: 40px;
    color: #4EA487;
    line-height: 120%;
    font-weight: 600;
}

.desing-h1-graph {
    font-family: Arima;
    font-size: 64px;
    font-weight: 700;
    color: #F1C953;
    line-height: 120%;
}

.main-config-graph {
    margin-top: 80px;
    margin-left: 118px;
    margin-right: 118px;
    display: flex;
    justify-content: center;

}

.main-text {
    font-family: Palanquin;
    font-size: 28px;
    margin-bottom: 32px;
    line-height: 110%;
    font-weight: 400;
    max-width: 902px;
    color: #54370D;

}

.article03-sec1-box {
    text-align: center;
}

.text-color-main {
    color: #54370D
}

.info-img {
    height: 18px;
    width: 16px;
    margin-right: 6px;
}

.info-img-glasses {
    height: 7px;
    width: 20px;
    margin-right: 6px;
}

.info-img-eye {
    height: 14px;
    width: 20px;
    margin-right: 6px;
}

.info {
    display: flex;
    align-items: center;
    font-family: Palanquin;
    font-size: 16px;
    font-weight: 400;
}

.info-distance {
    padding-right: 32px;
}

.main-author-box {
    border-radius: 30px;
    background: #4EA48733;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 27px;
    height: auto;
    width: 272px;
    padding: 16px;
}

.img-Tamara {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%
}

.author-info-text {
    font-size: 16px;
    font-family: Palanquin;
    font-weight: 400;
    line-height: 120%;
}

.text-size-author {
    font-weight: bold;
}

.author-font {
    font-family: Arima;
    line-height: 120%;
    font-size: 18px;
}

.section01-text{
    margin-top: 50px;
    color: #3D3D3D;
    font-family: Palanquin;
    font-size: 24px;
    line-height: 120%;
    width: 1200px;
    margin-left: 118px;
    margin-right: 118px;
    margin-bottom: 50px;

}

.article02-sec1-text-box {
    display: flex;
    justify-content: center;
}

.article03-sec2-style {
    margin-left: 118px;
    margin-right: 118px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article03-sec2-box {
    display: flex;
    justify-content: center;
}

.article03-sec2-h2 {
    color: #54370D;
    font-weight: bold;
    font-family: Arima;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
}

.article03-sec2-img {
    width: 640px;
    height: 436px;
}

.article03-sec2-img-box{
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}

.article03-sec1-text{
    margin-top: 80px;
    font-family: Palanquin;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 80px;
    color: rgba(61, 61, 61, 1);
;
}

.beach-destinations-images-div-carousel {
    padding-top: 88px;
}

.beach-destinations-headline-carousel {
    font-family: Arima;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #54370D;
}

.beach-images-wrapper-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    margin-top: 64px;
}

.beach-solo-image-wrapper-carousel {
    width: 300px;
    min-width: 300px;
    margin-left: -80px;
    perspective: 600px;
}

.beach-solo-image-wrapper-carousel:first-child {
    margin-left: 0;
}

.beach-images-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 440px;
    border-radius: 16px;
    object-fit: cover;
    min-width: 300px;
    flex-shrink: 0;
}

.image-1-carousel {
    z-index: 1;
    transform: rotateY(25deg);
    box-shadow: -9px 5px 20px 0px #00000040;
    cursor: pointer;
}

.image-1-carousel:hover {
    transform: rotateY(0deg);
    margin-left: -80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-1-carousel:hover) .image-2-carousel,
.beach-images-wrapper-carousel:has(.image-1-carousel:hover) .image-3-carousel,
.beach-images-wrapper-carousel:has(.image-1-carousel:hover) .image-4-carousel,
.beach-images-wrapper-carousel:has(.image-1-carousel:hover) .image-5-carousel {
    transform: rotateY(-25deg);
}

.image-2-carousel {
    z-index: 2;
    transform: rotateY(25deg);
    box-shadow: -9px 5px 20px 0px #00000040;
    cursor: pointer;
}

.image-2-carousel:hover {
    transform: rotateY(0deg);
}

.beach-images-wrapper-carousel:has(.image-2-carousel:hover) .image-1-carousel {
    margin-left: -80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-2-carousel:hover) .image-3-carousel {
    margin-left: 80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-2-carousel:hover) .image-3-carousel,
.beach-images-wrapper-carousel:has(.image-2-carousel:hover) .image-4-carousel,
.beach-images-wrapper-carousel:has(.image-2-carousel:hover) .image-5-carousel {
    transform: rotateY(-25deg);
}

.image-3-carousel {
    z-index: 3;
    transform: rotateY(25deg);
    box-shadow: -9px 5px 20px 0px #00000040;
    cursor: pointer;
}

.image-3-carousel:hover {
    transform: rotateY(0deg);
}

.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-1-carousel,
.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-2-carousel {
    margin-left: -80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-4-carousel,
.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-5-carousel {
    margin-left: 80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-4-carousel,
.beach-images-wrapper-carousel:has(.image-3-carousel:hover) .image-5-carousel {
    transform: rotateY(-25deg);
}

.image-4-carousel {
    z-index: 4;
    transform: rotateY(25deg);
    box-shadow: -9px 5px 20px 0px #00000040;
    cursor: pointer;
}

.image-4-carousel:hover {
    transform: rotateY(0deg);
}

.beach-images-wrapper-carousel:has(.image-4-carousel:hover) .image-5-carousel {
    margin-left: 80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-4-carousel:hover) .image-1-carousel,
.beach-images-wrapper-carousel:has(.image-4-carousel:hover) .image-2-carousel,
.beach-images-wrapper-carousel:has(.image-4-carousel:hover) .image-3-carousel {
    margin-left: -80px;
    transition: margin 0.1s ease-in-out;
}

.beach-images-wrapper-carousel:has(.image-4-carousel:hover) .image-5-carousel {
    transform: rotateY(-25deg);
}

.image-5-carousel {
    z-index: 5;
    transform: rotateY(25deg);
    box-shadow: -9px 5px 20px 0px #00000040;
    cursor: pointer;
}

.image-5-carousel:hover {
    transform: rotateY(0deg);
}

.beach-images-wrapper-carousel:has(.image-5-carousel:hover) .image-1-carousel,
.beach-images-wrapper-carousel:has(.image-5-carousel:hover) .image-2-carousel,
.beach-images-wrapper-carousel:has(.image-5-carousel:hover) .image-3-carousel,
.beach-images-wrapper-carousel:has(.image-5-carousel:hover) .image-4-carousel {
    margin-left: -80px;
    transition: margin 0.1s ease-in-out;
}

.lorem-text-carousel-div {
    width: 1201px;
    height: 145px;
    margin-top: 88px;
}

.lorem-text-carousel {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3D3D3D;
}

.lorem-text-second-carousel {
    margin-top: 88px;
    height: 261px;
    width: 1020px;
}

.pro-tipps-div-carousel {
    margin-top: 88px;
    width: 1130px;
    height: 260.0000305175781px;
    position: relative;
}

.pro-tipps-box-carousel {
    width: 1083px;
    height: 195px;
    border-radius: 30px;
    background: #4EA48733;
}

.pro-tipps-lorem-text-carousel {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-top: 26px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.useful-link-carousel {
    font-family: Palanquin;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #4EA487;
    cursor: pointer;
}

.lorem-text-third-carousel {
    width: 1201px;
    height: 232px;
    margin-top: 88px;
}

.follow-me-text-share-div-carousel {
    width: 493px;
    height: 154px;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-me-text-share-carousel {
    font-family: Arima;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #54370D;
}

.share-button-carousel-div {
    padding-top: 57.5px;
}

.share-button-carousel {
    width: 158px;
    height: 48px;
    gap: 10px;
    border-radius: 40px;
    background-color: #4EA487;
    color: #F1C953;
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 5%;
}