/* arima-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Arima/Arima-VariableFont_wght.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    box-sizing: border-box;
}

.page-header-wrapper {
    background-color: #4EA487;
}

.page-header {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    padding-left: 146px;
}

.header-nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 72px;
    margin-left: 102px;
}

.header-nav>a {
    font-family: Arima;
    font-weight: 700;
    font-size: 24px;
    color: #F8F5EB;
    text-decoration: none;
}

.header-logo {
    margin: 25px 0px 30px 0px;
}

.header-logo>img {
    width: 72px;
}

.page-footer-wrapper {
    background-color: #4EA487;

}


.page-footer {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
}

.footer-left {
    display: flex;
    align-items: center;
    margin: 60px 500px 60px 0;
    padding-left: 120px;
}

.footer-left-links {
    font-family: Palanquin;
    display: flex;
    gap: 72px;
    padding-left: 5px;
    flex-shrink: 0;         
    /* Ohne diesen Befehl habe ich immer einen Zeilenumbruch... Unkalr warum.. */
}


.footer-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-right>img {
    height: 32px;
}

.main-seciton-headline > h1{
    font-family: Palanquin;
    font-size: 40px;
    font-weight: 600;
    color: #4EA487;
}

.main-seciton-headline > h2{
    font-family: Arima;
    font-size: 64px;
    font-weight: 700 ;
    color: #F1C953;
}

.main-seciton-headline >  p{
    font-family: Arima;
    font-size: 28px;
    color: #54370D;
    padding-top: 8px;
}

.main-seciton-headline{
    width: 900px;
    margin: 80px 26px 40px 120px;
}

.main-content-carousel {
    display: flex;
    justify-content: center;
    padding-top : 80px;
}

.carousel-articel-author-wrapper {
    display: flex;
}

.carousel-headline-info-wrapper {
    display: flex;
    flex-direction: column;
}

.carousel-ocean-soul-headline {
    color: #4EA487;
    font-family: 'Palanquin';
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    height: 48px;
    width: 608px;
}

.carousel-breathtaking-beaches-headline {
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F1C953;
    height: 154px;
    width: 902px;
    padding-top: 8px;
}

.carousel-beaches-description {
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #54370D;
    height: 114px;
    width: 902px;
    padding-top: 8px;
}

.carousel-read-share-wrapper {
    display: flex;
    padding-top: 40px;
}