/* arima-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('../Blog/fonts/Arima/Arima-VariableFont_wght.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    box-sizing: border-box;
}

.page-header-wrapper {
    background-color: #4EA487;
}

.page-header {

    max-width: 1440px;


    display: flex;
    flex-direction: row;

    padding-left: 150px;
}

.header-nav {
    font-size: 24px;

    display: flex;
    align-items: center;

    gap: 40px;
    margin-left: 100px;
}

.header-nav>a {

    font-family: Arima;
    font-weight: 700;
    font-size: 24px;
}

.header-logo {
    margin: 25px 0px 30px 0px;
}

.header-logo>img {
    width: 72px;
}

.page-footer-wrapper {
    background-color: #4EA487;

}


.page-footer {

    max-width: 1440px;
    display: flex;
    flex-direction: row;


}

.footer-left {
    display: flex;
    align-items: center;
    margin: 60px 500px 60px 0;
    padding-left: 120px;


}

.footer-left-links {

    font-family: Palanquin;
    display: flex;

    gap: 72px;
    padding-left: 5px;
    flex-shrink: 0;         
    /* Ohne diesen Befehl habe ich immer einen Zeilenumbruch... Unkalr warum.. */
}


.footer-right {
    display: flex;
    align-items: center;
    gap: 16px;

}

.footer-right>img {
    height: 32px;

}